
body {
  text-align: center;
  font-family: Georgia, serif;
  background-color: #AEAEAE;

  background: url("media/IMG_5556.JPG") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

img {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  overflow: hidden;
}

a {
  color: black;
}


li a:hover {
  background-color: #F9E3AF !important;
}

li a:visited {
  background-color: #F9E3AF !important;
  color: black;
}

a:hover,
a:visited {
  background-color: #F9E3AF !important;
  color: black;
  border-radius: 2px;
  text-decoration: none;
}

.container {
  background-color: #FAFACF;
  border-radius: 10px;
}

.jumbotron {
  background-color: #FAFACF;
  border-radius: 5px;
}

.list-group-item {
  background-color: #FAFACF;
}

#wordpress-h3 {
  padding-bottom: 15px;
}


/* #FAFACF  #F6F5B6  #28E4B0  #7cf1f1*/